/* 顶部栏目 */
        #topBar {
            width: 100%;
            height: 28px;
            background-color: #F5F5F5;
        }

        #topBar li {
            line-height: 28px;
            float: left;
            margin-left: 6px;
            font-size: 13px;
            cursor: pointer;

        }

        #topBar li span {
            color: #FF6600;
        }

        /* 登录窗口 */
        #lean_overlay {
            position: fixed;
            z-index: 100;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background: #000;
            display: none;
        }

        .newlogin_con {
            margin: 20px auto;
            width: 422px;
            height: 379px;
            padding: 25px 50px;
            background: #fff;
            border-radius: 20px;
        }

        /* .newlogin_con .gototitle{
                font-size:18px;
                text-align:center;
            } */

        .newlogin_con .gototitle span {
            display: inline-block;
            font-size: 18px;
            cursor: pointer;

        }

        .newlogin_con .gototitle span:nth-child(1) {
            width: 160px;
            height: 24px;
            text-align: center;
            border-right: 1px solid #ccc;
        }

        .newlogin_con .gototitle span:nth-child(2) {
            width: 110px;
            height: 24px;
            text-align: center;
        }

        .newlogin_con .login {
            background: #999;
            height: 42px;
            line-height: 42px;
            border-radius: 30px;
            text-align: center;
            color: #fff;
            cursor: pointer;
        }

        .newlogin_con .user_num,
        .user_pwd {
            margin: 20px auto;
            width: 300px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #dddddd;
            border-radius: 30px;
        }

        .newlogin_con .user_num>input,
        .user_pwd>input {
            outline: none;
            border: none;
            border-radius: 30px;
            padding: 0 15px;
        }

        .newlogin_con .user_pwd .forgot {
            width: 108px;
            font-size: 14px;
            color: #ccc;
        }

        .gotologin_con .pr1 {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: top;
            border-right: 1px solid #f4f4f4;
            padding-right: 30px;
            margin: 8px 0 0 8px;
            background: url('images/newico.png') 0 -60px no-repeat;
        }

        .gotologin_con .pr2 {
            background: url('images/newico.png') 0 -40px no-repeat;

        }

        .user_pwd a {
            display: inline-block;
            width: 80px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            border-left: 1px solid #f4f4f4;
        }

        .newlogin_con .otherlogin {

            margin: 45px 0 25px 0;
        }

        .loginstype {
            display: inline-block;
        }

        .loginstype a {
            display: inline-block;
            width: 36px;
            height: 36px;

        }

        .loginstype a:nth-child(1) {
            background: url('images/newico2.png') 0 0 no-repeat;
        }

        .loginstype a:nth-child(2) {
            background: url('images/newico2.png') -43px 0 no-repeat;
        }

        .loginstype a:nth-child(3) {
            background: url('images/newico2.png') -87px 0 no-repeat;
        }

        .question {
            font-size: 12px;
            line-height: 40px;
        }


        /* 注册窗口 */
        #newlogin {
            width: 422px;
            height: 424px;
            /* width: 322px; */
            padding: 0 50px;
            background: #fff;
            border-radius: 20px;
            background: #fff;
            margin: 20px auto;
            padding-top: 5px;

        }

        .popup {
            width: 322px;
            height: 359px;
        }

        #newlogin .liner {
            display: inline-block;
            width: 1px;
            height: 24px;
            background: #ccc;
        }

        #newlogin .gototitle {
            margin: 30px 0 40px 0;
        }

        #newlogin .it1 {
            display: block;
            width: 160.5px;
            height: 24px;
            font-size: 18px;
            text-align: center;
            /* line-height: 20px; */
        }

        #newlogin .gototitle .it1:nth-child(1) {
            color: #EA724B;
        }

        #newlogin #getcodes {
            display: inline-block;
            width: 110px;
            height: 25px;
            line-height: 25px;
            font-size: 14px;
            color: #f03e3e;
            border-left: 1px solid #f4f4f4;
            text-align: center;
        }

        .gotologin_con {
            width: 322px;
            height: 295px;
        }

        .gotologin_con .setting {
            margin: 20px auto;
            width: 300px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #dddddd;
            border-radius: 30px;
        }

        .gotologin_con .setting input {
            outline: none;
            border: none;
            border-radius: 30px;
            padding: 0 15px;
            font-size: 12px;
        }

        #newlogin .setting>span {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: top;
            border-right: 1px solid #f4f4f4;
            padding-right: 30px;
            margin: 8px 0 0 8px;
        }

        #newlogin .setting .pr1 {
            background: url('images/newico.png') 0 -60px no-repeat;
        }

        #newlogin .setting .pr2 {
            background: url('images/newico.png') 0 -40px no-repeat;
        }

        .register_btn {
            margin: 20px auto;
            width: 300px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #dddddd;
            border-radius: 30px;
            background: #999;
            text-align: center;
            color: #fff;
        }

        .otherlogin .que {
            font-size: 12px;
            color: #666;
        }

        .otherlogin a {
            color: #F06E6E;
        }

        .otherlogin .meet_que {
            font-size: 12px;
            color: #ccc;
        }

/* 搜索框 */

    #logo_search_car #logo{
        margin: 21px 0 0 0;

    }

    #logo_search_car #search{
        margin:36px 0 0 119px
    }

    #search .search_input{
        width: 404px;
        height: 34px;
        border: 2px solid #459D36;
        padding-left:13px;
    }

    #search .search_btn{
        width: 75px;
        height: 34px;
        border: 2px solid #459D36;
        background:#459D36;
    }

    #search .search_list li{
        float:left
    }

    #search .search_list li span{
        font-size:14px;
        padding:0 10px;
        color:#999999;
        border-right: 1px solid #ccc;
    }

    #search .search_list li span.first_span{
        color:red;
    }

    #search .search_list li span.last_span{
        border-right:0 none;
    }


    #logo_search_car #car{
        // display: block;
        margin:36px 26px 0 0;
        font-size:14px;
    }

    #logo_search_car #car img{
        margin-right: 14px;
    }

    #logo_search_car #car span{
        color:red;
    }

    // 导航栏目
    #nav{
        height: 34px;
    }

    #nav .nav_list_l li{
        width: 114px;
        height: 34px;
        float: left;
    }

    #nav .nav_list_r li{
        float: left;
        width: 126px;
        height: 34px;
    }

    #nav ul span{
        font-size:16px;
    }

/* 导航栏目 */
    #nav{
    height: 34px;
    }

    #nav .nav_list_l{
        width:228px;
        margin-right:25px;
    }

    #nav .nav_list_l li{
        width: 114px;
        height: 34px;
        float: left;
        border:1px solid #ccc;
        text-align: center;
        padding-top:5px;
        margin-left: -1px;
    }

    #nav .nav_list_r{
        width: 927px;
        height: 34px;
        padding-top: 10px;
    }

    #nav .nav_list_r li{
        float: left;
        width: 126px;
        height: 34px;
        font-size:16px;
        font-weight: 700;
    }

    #nav ul span{
        font-size:16px;
    }

/* 侧边栏 */
    #side_bar {
        width: 38px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: #000000;

    }

    .side_bar_list {
        height: 482px;
        margin-top: 107px;
    }

    .side_bar_list li a {
        display: block;
    }

    #side_bar a i {
        display: block;
        width: 35px;
        height: 35px;

    }

    .side_bar_list li .rt_my i {
        background: url('../images/bar_new.png') 0 -235px no-repeat;
        margin: 26px 0;
    }

    .side_bar_list li .rt_car {
        width: auto;
        height: auto;
        background-image: none;
        font-size: 12px;
        padding: 5px 0 10px;
        margin: 0;
    }

    .side_bar_list li .rt_car i {
        background: url('../images/bar_new.png') 0 -270px no-repeat;
    }

    .side_bar_list li .rt_question {
        width: auto;
        height: auto;
        background-image: none;
        font-size: 12px;
        padding: 5px 0 10px;
        margin: 0 0 15px;
    }

    .side_bar_list li .rt_question i {
        background: url('../images/bar_new.png') 2px -617px no-repeat;

    }

    .side_bar_list li .rt_order i {
        background: url('../images/bar_new.png') 0 -305px no-repeat;
    }

    .side_bar_list li .rt_view i {
        background: url('../images/bar_new.png') -1px -693px no-repeat;
    }

    .rt_app i{
        background: url('../images/bar_new.png') 0px -410px no-repeat;
    }

    .rt_weixin i{
        background: url('../images/bar_new.png') 0 -720px no-repeat;
    }

    .rt_weibo i{
        background: url('../images/bar_new.png') 0 -753px no-repeat;
    }


    .side_bar_list li span {
        display: inline-block;
        width: 19px;
        font-size: 12px;
        margin: 0 8px;
        color:#ccc;
    }

/* 详情页 */
    #goods_md_bg {
            height: 628px;
            /* background: #A76262; */
        }

        /* 左边放大镜区域 */

        #goods_md_bg .gdl {

            width: 450px;
            height: 460px;
            /* background: #345; */
            /* position: relative; */
        }

        .gdl .wrapper {
            width: 960px;
            /* position: absolute; */
            left: 0;
            top: 0;
            margin: 50px auto 0 auto;
            overflow: hidden;
        }

        .gdl .smail {
            float: left;
            width: 360px;
            margin-right: 25px;
            overflow: hidden;
        }

        .gdl .smail_box {
            width: 100%;
            height: 360px;
            position: relative;
            margin-bottom: 20px;


        }

        .gdl .smail img {
            width: 100%;
            height: 100%;
            display: block;

        }

        .gdl .make {
            width: 120px;
            height: 120px;
            background: rgba(202, 130, 9, 0.65);
            position: absolute;
            left: 0px;
            top: 0px;
            display: none;
        }

        .gdl .list {
            width: 80%;
            height: 80px;
            padding: 0 5px;
            float: left;
            overflow: hidden;
        }

        .gdl .smail ul {
            height: 100%;
            width: 450px;
        }

        .gdl .smail>p {
            cursor: pointer;
            width: 10%;
            float: left;
            height: 80px;
            width: 30px;
            background: rgba(0, 0, 0, 0.7) url("../images/prev.png") no-repeat center center;

        }

        .gdl .smail>p:last-of-type {
            background: rgba(0, 0, 0, 0.7) url("../images/next.png") no-repeat center center;

        }


        .gdl .smail li {
            height: 100%;
            width: 80px;
            margin-right: 10px;
            float: left;
        }

        .gdl li>img {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
        }

        .gdl .smail li>img:hover {
            border: 1px solid #85B387;
        }


        .gdl .big {
            float: left;
            width: 360px;
            height: 360px;
            overflow: hidden;
            display: none;
            position: relative;
            z-index: 100;
        }

        .gdl .big>img {
            display: block;
            width: 1080px;
            height: 1080px;
        }

        .gdl .gdl_bottom {
            width: 389px;
            height: 16px;
            margin-top: 40px;

        }

        .gdl .goods_number {
            font-size: 12px;
            color: #999;
            margin-left: 30.5px;
        }

        .gdl .share_collect {
            font-size: 12px;
            margin-right: 35px;
            /* color:#444; */
        }

        .gdl .share_collect a,
        .gdl .share_collect span {
            display: inline-block;
            background: url('../images/xqico.png') no-repeat;
            color: #444;

        }

        .gdl .share_collect a {
            background-position: -9px -329px;
            padding-left: 15px;

        }

        .gdl .share_collect span {
            background-position: -33px -361px;
            padding-left: 15px;
        }





        /* 右边商品信息区域 */
        #goods_md_bg .gdr {
            width: 747px;
            height: 628px;
            margin: 3px 0 0;
            padding: 40px;
        }

        .gdr .gdr_title {
            font-size: 18px;
            font-weight: 700;
            color: #333;
        }

        .gdr .gdr_text {
            margin: 10px 0;
            font-size: 14px;
            color: #E3393C;
        }

        .gdr .gdr_price {
            width: 667px;
            height: 99px;
            background: #F5F5F5;
        }

        .gdr .gdr_price .m_price {
            font-size: 14px;
            color: #999;
            padding: 20px 20px 0;
        }

        .gdr .gdr_price .m_price s {
            color: #000;
        }

        .gdr .gdr_price .e_price {
            font-size: 14px;
            color: #999;
            padding: 0 20px 10px;
        }

        .gdr .gdr_price .e_price span:nth-child(1) {
            font-size: 20px;
            color: #E3393C;
        }

        .gdr .gdr_price .e_price span:nth-child(2) {
            font-size: 34px;
            color: #E3393C;

        }

        .gdr .gdr_table {
            height: 93px;
            padding: 10px 0;
            border-bottom: 1px dashed #ccc;


        }

        .gdr .gdr_table_sale li,
        .gdr .gdr_table_promise li {
            float: left;
            font-size: 14px;
            margin: 5px 20px 0 0;

        }

        .gdr .gdr_table_sale li span:nth-child(1) {
            color: #999;
        }

        .gdr .gdr_table_sale li span:nth-child(2) {
            color: #E3393C;
        }

        .gdr .gdr_table_promise {
            margin: 10px 0 0;
            padding: 0px 0px 10px;
        }

        .gdr .gdr_table_promise li {
            padding: 0 15px;
            height: 20px;

        }

        .gdr .gdr_table_promise span {
            margin-left: 5px;
            font-size: 12px;
        }

        .gdr .gdr_table_promise img {
            width: 20px;
            height: 20px;
            float: left;
        }



        .gdr .gdr_table_promise li:nth-child(2) {
            border: 1px solid #ccc;
            border-width: 0px 1px;
        }

        /* 产品规格 */
        .gdr .gdr_norms,
        .gdr_num {
            font-size: 14px;
            color: #999;
            margin: 15px 0 0;
        }

        .gdr .gdr_norms a {
            display: inline-block;
            border: 1px #ccc solid;
            padding: 0 10px;
            line-height: 12px;
            outline: none;
            color: #333;
            text-decoration: none;
            height: 24px;
            line-height: 24px;
            background: #fff;
            position: relative;
            /* float: left; */
            margin-right: 5px;
            margin: 0px 5px 5px 0px;
        }

        /* 产品数量 */
        .gdr .gdr_num p {
            display: inline-block;
            border: 1px solid #ccc;
        }

        .gdr .gdr_num p span {
            display: inline-block;
            width: 17px;
            height: 34px;
            background: #F3F3F3;
            text-align: center;
            line-height: 34px;
            cursor: pointer;

        }

        .gdr .gdr_num input {
            width: 54px;
            height: 34px;
            text-align: center;
            border: none;
        }


        /* 收货地区 */
        .gdr .gdr_zone {
            font-size: 14px;
            color: #999;
            padding: 5px 0 10px;
            border-bottom: 1px dashed #ccc;

        }


        /* 运费详情 */
        .gdr .gdr_deliver {
            font-size: 13px;
            color: #999;
            line-height: 50px;
        }

        .gdr .gdr_deliver a {
            color: #444;
        }

        /* 加入购物车按钮 */
        .gdr .gdr_btn {
            width: 190px;
            height: 56px;
            border-radius: 3px;
            background: #78b300;
            cursor: pointer;
            text-align: center;
            margin: 20px 0 0;
            padding: 10px 0 0;
        }

        .gdr .gdr_btn span {
            display: inline-block;
            line-height: 35px;
            color: #fff;


        }

/* 尾部导航 */
        #foot_bar{
            background: #F5F5F5;
            margin-top:30px;
        }
        #ad{
            width: 100%;
            border-bottom:1px solid #ccc;
        }

        .ad_list li{
            float: left;
            width: 163px;
            height: 65px;
            margin:20px 35px 20px 0;

        }

        .ad_list li a{
            display: block;
            width: 163px;
            height: 65px;
            background:url('../images/ad_logo.png') 0 0px no-repeat;
        }
        .ad_list li span{
            display: inline-block;
            font-size:18px;
            font-weight:700;
            margin:22px 0 0 70px;
        }

        /* 服务 */
        #serve_nav{
            width: 100%;
        }

        #serve_nav .dog_phone{
            width: 387px;
            height: 187px;
            padding-top:30px;

        }

        #serve_nav .dog_phone img{
            margin-right:28px;
        }

        #serve_nav .phone{
            width: 252px;
            height: 90px;

        }

        #serve_nav .phone p:nth-child(1){
            font-size:14px;
            font-weight:400;
        }
        #serve_nav .phone p:nth-child(2){
            font-size:20px;
            color:#666;
            margin-top:15px;
        }
        #serve_nav .phone p:nth-child(3){
            font-size:12px;
            margin-top:15px;
        }

        /* 关于我们 */
        #serve_nav .con{
            border-bottom:1px solid #ccc;
        }
        #serve_nav .about{
            width: 578px;
            height: 187px;

        }

        .about .about_list{
            margin-right: 83px;
            float:left;
        }

        .about .about_list li{
            width: 58px;
            font-size:13px;
            margin-bottom: 12px;

        }

        .about .about_list li:nth-child(1){
            color:#666;
            font-size: 14px;
            font-weight: 700;
            line-height: 68px;

        }

        /* 二维码 */
        .QR_code{
            width: 233px;
            height: 187px;
            padding-top: 22px;
        }
        .QR_code div p{
            font-size: 14px;
            color:#666;
        }

        .QR_code div p:nth-child(2){
            margin-bottom: 14px;
        }

        /* 友情链接 */
        .friend_link{
            padding-top:22px;
        }

        .friend_link ul li {
            float: left;
            margin-right: 19px;

        }

        .friend_link ul li a{
            font-size: 14px;
            color:#B0D2F5;
        }
        .friend_link ul li:nth-child(16){
            float:right;
        }

        .friend_link .foot_img{
            margin: 24px 0 24px 25px ;
        }

        .friend_link .copyright{
            font-size: 12px;
            text-align: center;
            padding: 20px 0 40px;
        }


